// @font-face {
//     font-family: 'Okta Neue';
//     src: url('fonts/OktaNeue-Light.woff2?v=1.0') format('woff2'),
//         url('fonts/OktaNeue-Light.woff?v=1.0') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Okta Neue';
//     src: url('fonts/OktaNeue-Regular.woff2?v=1.0') format('woff2'),
//         url('fonts/OktaNeue-Regular.woff?v=1.0') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Okta Neue';
//     src: url('fonts/OktaNeue-Medium.woff2?v=1.0') format('woff2'),
//         url('fonts/OktaNeue-Medium.woff?v=1.0') format('woff');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Okta Neue';
//     src: url('fonts/OktaNeue-SemiBold.woff2?v=1.0') format('woff2'),
//         url('fonts/OktaNeue-SemiBold.woff?v=1.0') format('woff');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/Inter-Light.woff2?v=3.15") format("woff2"),
         url("fonts/Inter-Light.woff?v=3.15") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter-Regular.woff2?v=3.15") format("woff2"),
         url("fonts/Inter-Regular.woff?v=3.15") format("woff");
  }

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/Inter-Medium.woff2?v=3.15") format("woff2"),
        url("fonts/Inter-Medium.woff?v=3.15") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/Inter-SemiBold.woff2?v=3.15") format("woff2"),
         url("fonts/Inter-SemiBold.woff?v=3.15") format("woff");
  }
  
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Inter-Bold.woff2?v=3.15") format("woff2"),
         url("fonts/Inter-Bold.woff?v=3.15") format("woff");
  }